*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    background-image: url(./img/fundo.png);
}
.info2{
    color: white;
    padding-left: 124px;
    padding-top: 124px;
    position: relative;
    font-size: larger;
}
.title{
    color: white;
    text-shadow: 4px 4px 4px purple;
    padding-top: 64px;
    padding-left: 86px;
    font-size: 80px;
    font-family: 'Inter', sans-serif;
}
.conteudo{
    color: white;
    text-shadow: 3px 3px 3px blue;
    font-family: 'Inter', sans-serif;
    font-size: x-large;
    width: 450px;
    margin-top: 80px;
    text-align: start;
    margin-left: 150px;
}
img[alt=icon]{
    width: 24rem;
    height: 24rem;
    margin-top: -550px;
    margin-left: 1150px;
}
footer{
    color: white;
    margin-left: 500px;
    font-size: larger;
}
.barrapesquisa{
    margin-left: 100px;
    margin-top: 140px;
    height: 40px;
    width: 650px;
    padding: 2px;
    border-radius: 15px;
    justify-content: space-between;
    background-color: white;
    
    }


.barrapesquisa input{
    border-radius: 15px;
    width: 100%;
    height: 10%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 12px;
}
.barrapesquisa input{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
    border: none;
    padding: 10px;

    }

    .botao * {
        text-decoration: none;
        color: white;
        width: 220px;
        height: 30px;
        margin-top: 100px;
        border-radius: 8px;
        text-shadow: 2px 2px 2px purple;
        
    }
    .botao p:hover{
        transform: scale(1.1);
    }
    @media (max-width: 1024px) {
        body{
            width: 1000px;
        }
    }
  