*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 15, 15);
}
.title{
    color: white;
    margin-top: 120px;
    margin-left: 100px;
    font-size: 80px;
    font-family: 'Inter', sans-serif;
}
.conteudo{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: x-large;
    width: 450px;
    margin-top: 80px;
    text-align: start;
    margin-left: 150px;
}
img[alt=bruxa]{
    width: 550px;
    height: 650px;
    margin-top: -500px;
    margin-left: 1150px;
}
footer{
    color: white;
    margin-left: 500px;
    font-size: larger;
}

